.game-container{
    height: 500px;
    width: 500px;
    display: block;
    margin: 150px auto;
    position: relative;
    border: #333 solid 0.3rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.shadow{
    -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.49);
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.49);
}

#cnv{
    position: absolute;
}

.signs{
    position: absolute;
    width: 500px;
    height: 500px;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.signs h2{
    text-align: center;
}

.signs div{
    display: inline-block;
}

.signs .x{
    padding: 5px;
    border: #333 solid 0.2rem;
    margin-left: 80px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.signs .o{
    padding: 5px;
    border: #333 solid 0.2rem;
    margin-left: 20px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.signs .start{
    width: 170px;
    display: block;
    margin: 25px auto;
    text-align: center;
    padding: 10px;
    border: #333 solid 0.2rem;
    cursor: pointer;
    transition: 300ms width ease-in;
}

.signs .start:hover{
    width: 210px;
    background-color: rgba(255, 255, 255, 0.6);
}

.signs .x:hover, .o:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

.active{
    background-color: #333 !important;
    color: #FFF !important;
}

.gameover{
    position: absolute;
    width: 500px;
    height: 500px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
}
.gameover h1{
    font-size: 2.5rem;
    text-align: center;
    color:black;
}

.gameover div{
    display: inline-block;
}

.gameover .play{
    font-size: 30px;
    width: 170px;
    display: block;
    margin: 25px auto;
    text-align: center;
    padding: 10px;
    border: #333 solid 0.2rem;
    cursor: pointer;
    transition: 300ms width ease-in;
}
.gameover .play:hover{
    width: 210px;
    background-color: rgba(255, 255, 255, 0.6);
}


@media(max-width: 1000px){
    .game-container{
        width: 350px;
        height: 350px;
    }
    #cnv{
        height: 350px;
        width: 350px;
    }
    .signs{
        width: 100%;
        height: 100%;
        font-size: 22px;
    }
    .signs .x{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    .signs .o{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .gameover{
        width: 100%;
    }
}