.game-container{
    height: 500px;
    width: 500px;
    display: block;
    margin: 150px auto;
    position: relative;
    background-color:rgba(17, 121, 34, 0.3);
    border-radius: 3rem;
    text-transform: uppercase;
}

.game-container:hover{
    background-color:rgba(17, 121, 34, 0.6);
    box-shadow: 5px 10px rgba(12, 43, 17, 0.9);
}

#cnv{
    position: absolute;
    border-radius: 10%;
}

.signs{
    position: absolute;
    width: 500px;
    height: 500px;
    margin: 50px auto;
}

.signs h2{
    font-size: 2.5rem;
    text-align: center;
}

.signs div{
    display: inline-block;
}

.signs .x{
    padding: 5px;
    background-color: #FFF;
    color: #000;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 80px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #000;
}

.signs .o{
    padding: 5px;
    background-color: #FFF;
    color: #000;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 20px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #000;
}

.signs .start{
    font-size: 1.5em;
    width: 70px;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background-color: #333;
    box-shadow: 5px 10px rgba(12, 43, 17, 0.9);
    color: #FFF;
    cursor: pointer;
    transition: 100ms width ease-in;
}

.signs .start:hover{
    width: 110px;
}

.signs .x:hover, .o:hover{
    background-color: #333;
    color: #FFF;
    box-shadow: 5px 10px rgba(12, 43, 17, 0.9);
}

.active{
    background-color: #333 !important;
    color: #FFF !important;
}

.gameover{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 10%;
    background-color:rgba(17, 121, 34, 0.9);

}
.gameover h1{
    font-size: 2.5rem;
    text-align: center;
}

.gameover div{
    display: inline-block;
}

.gameover .play{
    font-size: 1.5em;
    width: 70px;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background-color: #333;
    box-shadow: 5px 10px rgba(12, 43, 17, 0.9);
    color: #FFF;
    cursor: pointer;
    transition: 100ms width ease-in;
}
.gameover .play:hover{
    width: 110px;
}